@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
  height: 100%;
}

body {
  @apply bg-white text-gray-800 dark:bg-gray-700 dark:text-white;
}
